 
<!DOCTYPE html> 


@model Insurance.Models.ResetPassword

<br />
<h2 style="color:dodgerblue" class="display-2">Administrator Password Reset</h2>

@using (@Html.BeginForm())
{


    <div class="container">

        <div class="row" form-control><br /></div>

        <div class="row" form-control>

            <div class="col-md-6">

                <div class="form-group">

                    @Html.LabelFor(m => m.CustomerID, "Customer Id", new { @classs = "control-label", })

                    <div class="input-group">

                        <span class="input-group-addon" id="basic-addon1">$</span>

                        @Html.TextBoxFor(m => m.CustomerID, new { @class = "form-control", Placeholder = "Customer Id" })

                    </div>

                </div>

                <div class="form-group">

                    @Html.LabelFor(m => m.Password, "Password", new { @classs = "control-label", })

                    <div class="input-group">

                        <span class="input-group-addon" id="basic-addon1">?</span>

                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", Placeholder = "Password", type = "password" })

                    </div>

                </div>

                

            </div>

            <div class="col-md-6 msg">

                @Html.ValidationSummary()

                @ViewBag.Message


            </div>
        </div>
    </div>
        <br />

        <button type="submit" class="btn btn-primary">Reset Password</button>


        <h4>@Html.ActionLink("Menu", "AdminSignIn", "Home", null, new { @class = "btn btn-primary" })</h4>



}


